.project
.cproject
.DS_Store
*.o
*.so
*.pyc
test-arac

src/cpp/tests/._test_structure.cpp
src/python/arac/cppbridge.py
src/swig/cppbridge_wrap.cpp
src/cpp/structure/networks/._network.cpp
src/swig/cppbridge.py