a.out
*.dylib
*.o
*.os
*.pyc
*.so
*.swp
.cproject
.dist
.DS_Store
.project
.sconsign.dblite
arac.egg-info
build/
dist/
src/cpp/structure/networks/._network.cpp
src/cpp/tests/._test_structure.cpp
src/python/arac/cppbridge.py
src/swig/cppbridge.py
src/swig/cppbridge_wrap.cpp
test-arac
docs/output/
src/swig/cppbridge_wrap.cc
